@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NG+Modern:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    color: #4c4cfa;
}
.playFair{
    font-family: "Playfair Display", serif;
}
.playWrite{
    font-family: "Playwrite NG Modern", cursive;
}
.faq_img{
    display: flex ;

}